<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
      <%if(errorMessage){%>
        <div class="user-message user-message-error"><%=errorMessage%></div>
      <%}%>
        <form class="login-form" action="/login" method="POST" novalidate>
            <div class="form-control">
                <label for="email">E-Mail</label>
                <%if(errorMessage){%>
                  <input
                  class="<%=errorMessage.includes('email')?'invalid':''%>"
                  type="email" name="email" id="email" value="<%=oldInbut.email%>">
                <%}else {%>
                  <input type="email" name="email" id="email" value="<%=oldInbut.email%>">
                <%}%>
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <%if(errorMessage){%>
                  <input
                  class="<%=errorMessage.includes('password')?'invalid':''%>"
                  type="password" name="password" id="password" value="<%=oldInbut.password%>">
                <%}else {%>
                  <input type="password" name="password" id="password"  value="<%=oldInbut.password%>">
                <%}%>
            </div>
            <button class="btn" type="submit">Login</button>
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        </form>
        <div class="centered">
          <a href="/reset">reset password</a>
        </div>
    </main>
<%- include('../includes/end.ejs') %>
